# 2017 Game Sales Outlook <a id='back'></a> 

* [Introduction](#intro)
* [1 Data Overview and Preprocessing](#data_over)
    * [1.1 Imports and Load Data](#load)

    * [1.7 Study Plans](#study_plans)
    * [1.8 Aggregate Data](#agg_dat)
    * [1.9 Preliminary Conclusion](#conc_prelim)
* [2 Study User Behavior](#study)
    * [2.1 User Count](#user_stud)
    * [2.6  Study Conclusion](#conc_stud)
* [3 Test Statistical Hypotheses](#test_hyp)
    * [3.1 First Hypothesis](#hyp_1)
    * [3.2 Second Hypothesis](#hyp_2)
* [4 Final Conclusion](#conc_fin)

# Introduction <a id='intro'></a
    
lorem ipsum croque monsieur asta la vista baby

## Data Overview and Preprocessing <a id='data_over'></a>

In [5]:
# import pandas, a general data-management library
import pandas as pd

# import numpy, a general statistics library
import numpy as np

# import pyplot, a graph plotting library
from matplotlib import pyplot as plt 

# import scipy, a statistical analysis library
from scipy import stats as st

# import plotly.express, a high level plotting library
import plotly.express as px

In [7]:
# load the data into a pandas dataframe
gs = pd.read_csv('/datasets/games.csv')

In [9]:
#print general information about the dataset
display(gs.info())
display(gs.describe())
display(gs.sample(n=10, random_state=0))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

None

,Year_of_Release,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score
count,16446.000000,16715.000000,16715.000000,16715.000000,16715.000000,8137.000000
mean,2006.484616,0.263377,0.145060,0.077617,0.047342,68.967679
std,5.877050,0.813604,0.503339,0.308853,0.186731,13.938165
min,1980.000000,0.000000,0.000000,0.000000,0.000000,13.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,60.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,71.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,79.000000
max,2016.000000,41.360000,28.960000,10.220000,10.570000,98.000000

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
7634,Press Your Luck 2010 Edition,DS,2009.0,Misc,0.18,0.00,0.00,0.01,NaN,tbd,E
13771,Aeon Flux,PS2,2005.0,Action,0.02,0.02,0.00,0.01,66.0,5.8,T
3051,Castlevania: Lords of Shadow,X360,2010.0,Action,0.42,0.17,0.01,0.05,83.0,7.8,M
15726,Prince of Stride,PSV,2015.0,Adventure,0.00,0.00,0.02,0.00,NaN,NaN,NaN
578,Final Fantasy XIII-2,PS3,2011.0,Role-Playing,0.78,0.73,0.89,0.23,79.0,6.6,T
14668,World of Zoo,PC,2009.0,Simulation,0.00,0.02,0.00,0.01,NaN,8.4,E
10421,Gravity Games Bike: Street Vert Dirt,PS2,2002.0,Sports,0.05,0.04,0.00,0.01,24.0,4.1,T
10231,Calling,Wii,2009.0,Adventure,0.06,0.04,0.00,0.01,49.0,6.7,T
12163,Titanic Mystery,DS,2010.0,Puzzle,0.05,0.01,0.00,0.01,NaN,tbd,T
1090,PGR: Project Gotham Racing 2,XB,2003.0,Racing,0.97,0.59,0.04,0.07,NaN,NaN,NaN

**data overview summary**